<mat-card>
   <h2 >Solicitud de Turno</h2>
    <p>Seleccione una opción:</p>
    <mat-form-field class="custom-width">
        <mat-label>Seleccione tipo de estudio/laboratorio...</mat-label>
        <mat-select [formControl]="estudioControl" required>
          <mat-option>--</mat-option>
          @for (estudio of estudios; track estudio) {
            <mat-option [value]="estudio">{{estudio.name}}</mat-option>
          }
        </mat-select>
        @if (estudioControl.hasError('required')) {
          <mat-error>Por favor, elija un estudio/laboratorio para continuar</mat-error>
        }
      </mat-form-field>
      @if (estudioControl.hasError('required')) {
        <app-btn-inactive [buttonText]="'Ver turnos disponibles'"></app-btn-inactive>
      } @else {
        <app-btn-primary (click)="navegarAOpcionSeleccionada()" [buttonText]="'Ver turnos disponibles'"></app-btn-primary>
      }
    <app-btn-secondary (click)="volver()" [buttonText]="'Volver'"></app-btn-secondary>
</mat-card>