.card{
    width: 500px;
    height: 160px;
    display: flex;
    flex-direction: column;
    background-color: var(--terciary);
    border: 1px solid var(--accent);
    border-radius: 12px;
    margin: 20px;
    justify-content: space-around;
    padding: 20px;
}

h4{
    text-align: center;
}

.btnContainer{
    display: flex;
    gap: 20px;
    justify-content: center;
}

app-btn-primary{
    width: 250px;
    height: 40px;
}
