<div class="card">
    <h2>Confirmar Turno</h2>
    <h4>Paciente: María Garcia</h4>
    <h4>Turno: 27 de mayo 15:00hs</h4>
    <div class="dataContainer">
    <p>DNI: 11111111</p>
    <p>Dirección: Córdoba 1111</p>
    <p>Tel: 2234444444</p>
    <p>Obra Social: OPM</p>
    <p>Observaciones: -</p>
    </div>
    
    <div class="btnContainer">
        <app-btn-secondary buttonText="Volver"></app-btn-secondary>
        <app-btn-primary (click)="notificacionConfirmar()" buttonText="Confirmar"></app-btn-primary>
    </div>
</div>
