<div class="container">
    <h2>Siguiente turno</h2>
    <div class="infoContainer">
        <p>Paciente: María García</p>
        <p>Horario: 15:00hs</p>
    </div>
 
    <div class="btnContainer">
        @if (!segundoLlamadoRealizado) {
            <app-btn-secondary (click)="realizarSegundoLlamado()" buttonText="Realizar 2do llamado"></app-btn-secondary>
        }@else {
            <app-btn-secondary buttonText="Eliminar paciente de lista"></app-btn-secondary>

        }
        <app-btn-primary buttonText="Confirmar atención" (click)="confirmarAtencion()" ></app-btn-primary>
    </div>
</div>