.card{
    width: 500px;
    height: 250px;
    display: flex;
    flex-direction: column;
    background-color: var(--terciary);
    border: 1px solid var(--accent);
    border-radius: 12px;
    margin: 20px;
    justify-content: space-between;
    padding: 20px;
}

.btnContainer{
    display: flex;
    gap: 20px;
    justify-content: end;
}

app-btn-primary, app-btn-secondary{
    width: 150px;
    height: 40px;
}